// footer
.footer {
    text-align: center;
    height: 10vh;
    @include desktop {
        text-align: left;
        padding-left: 2rem;
    }
    div {
        padding: 1rem 0;
        p {
            color: #c2c2c2;
            font-size: 0.9rem;
            @include tablet {
                font-size: 0.9rem;
            }
            @include desktop {
                font-size: 0.9rem;
            }
            .instanews-text {
                text-transform: uppercase;
            }
        }
    }
}