/*======================================*/
/*  Global*/
/*======================================*/
html {
    font-size: 16px;
    color: #ffffff;
}
body {
    background-color: black;
    font-family: 'open_sans', serif;
}

.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
