.site-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 90vh;
    -ms-flex-line-pack: center;
        align-content: center;
    @include tablet{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    @include desktop {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}
.site-header-up {
    height: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    @include tablet {
        height: 135px;
        justify-content: initial;
    }
    @include desktop {
        height: 140px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}


h1 {
    display: none;
    position: absolute;
}
.logo {
    @include tablet{
        width: 100%;
    }
    @include desktop {
        width: 215px;
        text-align: left;
        padding-left: 2rem;
    }
}
.logo-up {
    width: 70%;
    padding-bottom: 1rem;
    @include tablet {
        width: 38%;
    }
}


.logo-wrap{
    margin-bottom: 1rem;
    @include tablet{
        margin-bottom: 0;
        margin-right: 1rem;
        width: 23%;
    }
    @include desktop {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        text-align: left;
        margin-right: 2rem;
        max-width: 315px;
    }
}
.logo-wrap-up {
    @include tablet{
        max-width: 175px;
        margin: 32px 2rem 0 0;
    }
}
.section-text {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    @include tablet{
        font-size: 0.9rem;
    }
    @include desktop {
        font-size: 1rem;
    }
}
.section-menu {
    font-size: 1.1rem;
    @include desktop{
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}
.options {
    width: 100%;
    @include tablet{
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
            margin: 2rem 0;
    } 
}
.options-wrapper {
    @include tablet{
        text-align: left;
    } 
}
