/*======================================*/
/*  Keyframes*/
/*======================================*/
@-webkit-keyframes showAbstract {
    0% {
        -webkit-transform: translate(0px, 200px);
                transform: translate(0px, 200px);
    }
    100% {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
}
@keyframes showAbstract {
    0% {
        -webkit-transform: translate(0px, 200px);
                transform: translate(0px, 200px);
    }
    100% {
        -webkit-transform: translate(0px,0px);
                transform: translate(0px,0px);
    }
}
@-webkit-keyframes hideAbstract {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    100% {
        -webkit-transform: translate(0px,200px);
                transform: translate(0px,200px);
    }
}
@keyframes hideAbstract {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    100% {
        -webkit-transform: translate(0px,200px);
                transform: translate(0px,200px);
    }
}