//======================================
//  Mixin
//======================================
@mixin mobile-double-img {
  @media (min-width: $mobile-double-img-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}