.grid-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.news-grid {

}
.article {
    position: relative;
    overflow: hidden;
    height: 420px;
    @include mobile-double-img {
        flex-basis: 50%;
    }
}
.news-img {
    height: 100%;
}
.text-wrapper {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.5);
}
