.grid-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.news-grid {

}
.loader {
    width: 50px;
    padding-top: 20px;
    height: 50px;
}
.article {
    position: relative;
    overflow: hidden;

    @include mobile-double-img {
        flex-basis: 50%;
    }
    @include tablet {
        flex-basis: 33.33%;
    }
    @include desktop {
        flex-basis: 25%;
    }
}
.news-img {
    height: 420px;
    width: 100%;
    object-fit: cover;
    @include tablet {
        height: 390px;
    }
    @include desktop {
        height: 360px;
    }
}
.text-wrapper {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.5);
}
